html,

.right {
  flex: 1;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto 20rem 5rem;
  /* background:red; */
}

.link {
  color: rgb(188, 147, 229);
  text-decoration: none;
}

.content {
  font-size:1.2rem;
  max-width:600px;
  padding:0 5rem;
  margin-top: 5rem;
  border-right: rgb(136, 134, 134) solid 4px;
  border-left: rgb(136, 134, 134) solid 4px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
  width:100%;
  background:rgb(47, 41, 48);
  border-bottom:rgb(136, 134, 134) solid 4px;
}

.footer {
  display: flex;
  /* position: fixed; */
  bottom: 0;
  right:0;
  left:0;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  background:rgb(47, 41, 48);
  border-top: rgb(136, 134, 134) solid 4px;
  line-height: 2rem;
}

.footnav {
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav {
  width: 40vw;
  display:flex;
  font-size: 1rem;
  line-height: 1.1;
  justify-content: space-between;
  /* margin: .5rem 1rem .5rem 1rem; */
}

.card {
  margin: 0 5rem 3rem 5rem;
  background: rgb(47, 41, 48);
  color:white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 25rem;
  width:30rem;
  border-radius: 1rem;
  border:rgb(136, 134, 134) solid 4px;
}

.card-content {
  text-align: center;
  margin: 2rem 0.5rem 0 0.5rem;
}

.projects {
  position:relative;
  margin-top: 1rem;
}

body {
  margin: 0;
  max-width: 100vw;
  background: rgb(11,13,14);
  display:flex;
  min-height: 100%;
  flex-direction:column;
  color:white;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
}
/* 
* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
} */

