html {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
}

body {
  margin: 0;
  background: rgb(11,13,14);
  color:white;
  width:100%;
}

.right {
  flex: 1;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto 20rem 5rem;

}

.link {
  color: rgb(188, 147, 229);
  text-decoration: none;
}

.content {
  font-size:1.2rem;
  max-width:600px;
  padding:0 5rem;
  margin-top: 5rem;
  border-right: rgb(136, 134, 134) solid 4px;
  border-left: rgb(136, 134, 134) solid 4px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
  width:100%;
  background:rgb(47, 41, 48);
  border-bottom:rgb(136, 134, 134) solid 4px;
}

.footer {
  display: flex;
  width: 100%;
  bottom: 0;
  right:0;
  left:0;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  background:rgb(47, 41, 48);
  border-top: rgb(136, 134, 134) solid 4px;
  line-height: 2rem;
}


.footnav {
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav {
  width: 40vw;
  display:flex;
  font-size: 1rem;
  line-height: 1.1;
  justify-content: space-between;
}

.card {
  margin: 0 5rem 3rem 5rem;
  background: rgb(47, 41, 48);
  color:white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 25rem;
  width:30rem;
  border-radius: 1rem;
  border:rgb(136, 134, 134) solid 4px;
}

.card-content {
  text-align: center;
  margin: 1.5rem .5rem .5rem .5rem;
}

.date {
  font-size: .75rem;
  margin: .5rem auto -.5rem auto;
}

.projects {
  position:relative;
  margin-top: 1rem;
}

@media screen and (max-width: 667px) {
  .flex-container {
    margin: 0.5rem; /* Adjust the margin to center the content on mobile */
  }

  .content {
    border: none; /* Remove left and right borders on mobile */
    margin-top: 2rem; /* Reduce top margin for smaller screens */
    padding: 0 1rem; /* Reduce horizontal padding for mobile */
    max-width: 90%;
  }

  .header,
  .footer {
    width: 100%; /* Make the header and footer span the entire width on mobile */
  }

  .right {
    display:none;
  }
  .card {
    margin: 2rem auto;
    width: 90% /* Center the card on mobile with small margins */
  }

  .card-content {
    margin: 1.5rem 0.5rem 0rem; /* Adjust margins for smaller screens */
  }

  .nav {
    width: 100px;
    flex-direction: column;
    font-size: 1rem;
    line-height: 1.5;
  }

  img {
    max-width: 350px;
  }

}